[Desktop Entry]
Name=LocoPDF
GenericName=PDF/DjVu viewer
GenericName[bg]=Преглед на PDF/DjVu документи
GenericName[cs]=Prohlížeč PDF/DjVu
GenericName[de]=PDF/DjVu-Dokument lesen
GenericName[es]=Visor PDF/DjVu
GenericName[hu]=PDF/DjVu olvasó
GenericName[pl]=Przeglądarka plików PDF/DjVu
GenericName[zh]=PDF/DjVu查看器
Exec=locopdf %F
Type=Application
Categories=Office;Viewer;Literature;
MimeType=application/pdf;image/vnd.djvu;
