Source: locopdf
Section: gui
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, libtool, pkg-config, oi-help-compiler
XCS-Cross-Build-Depends: libevas-dev, libecore-dev, libedje-dev, libefreet-dev, libemupdf-dev, libedjvu-dev, libsqlite3-dev, libkeys-dev, libxcb-atom1-dev, libeoi-dev
Priority: optional
Standards-Version: 3.8.3

Package: locopdf
Architecture: any
Depends: ${shlibs:Depends}
Description: PDF reader for e-Ink devices
 locopdf is a PDF reader designed to be useable on devices with limited amount
 of keys and slow screen refresh.

Package: locopdf-dbg
Section: debug
Architecture: any
Depends: locopdf (= ${binary:Version})
Description: PDF reader for e-Ink devices -- debugging symbols
 locopdf is a PDF reader designed to be useable on devices with limited amount
 of keys and slow screen refresh.
 .
 This package contains debugging symbols for locopdf.

Package: locopdf-settings-n516
Architecture: all
Description: PDF reader for e-Ink devices -- N516 keymapping
 locopdf is a PDF reader designed to be useable on devices with limited amount
 of keys and slow screen refresh.
 .
 This package contains keymapping configuration file for Hanvon N516.
